body {
  background: pink;
  font-family: helvetica;


}


h1 {
  color:white;
font-family: 'Gloria Hallelujah', cursive;
}

div {
  background: #123456;
  font-family: fantasy;
  color: #ffffff;
  width: 600px;
  height: 600px;
  padding: 50px;
  margin-left: 45px;
  margin-right: 45px;
  border: 3px;


}


.white_duck{
  background: teal;
  font-size: 33px;
  color:red;
  /* the ".."in the path means go back to the root folder */
  background-image: url(../IMGs/white_duck.jpg);
  background-size: cover;
}

.white_duck:hover{
  background: teal;
  font-size: 33px;
  color:white;
  background-image: url(../IMGs/witch.jpg);
  background-size: cover;
}


.color_cube{
  border-radius: 10px;
}


.leftnav{
  list-style:none;
}

.leftnav li{
  padding:20px;
  background: #ffbb00;
  border-bottom: 1px solid:#ccc;
  width:200px;

}


.leftnav li:hover{
  background:aqua;
  cursor:pointer;

}
